* {
    font-family: Arial, Helvetica, sans-serif
    margin: 10px;
  }

.body {
    margin: 20px;
    border: 2px solid beige;
    padding: 20px;
}

h1 {
    color: SeaGreen;
  }
   
p, 
li {
    font-size: 18px;
  }
   
a {
    text-decoration: none;
  }

#victoria-me {
    height: 250px;
    width: auto;
}

#icecream {
    height: 250px;
    width: auto;
}

.banner {
    background-color: beige;
    text-align: center;
    padding: 80px 0;
    margin: 10px;
    border: 2px solid seagreen;
    height: 500px;
    width: auto;
}

.fun-facts {
    background-color: beige;
    color: seagreen;
    width: 500px;
    border: 2px solid seagreen;
    padding-left: 10px;
}
